<div class="container-fluid">

  <h2 id="helplines-title">Help is a phone call away:</h2><br/>
  <p id="call-911-prompt">If you or someone you love are experience a medical emergency, please call 911</p>
  <p>Want to talk to someone about resources? <a href="tel:211">Call 211 for help</a></p>
  <p>National Suicide Prevention Lifeline: <a href="tel:988">988</a></p>
  <p>SAMHSA's National Helpline: <a href="tel:18006624357">1-800-662-HELP</a></p>
  <p>Text the Crisis Text Line: <a href="sms:741741">741741</a></p>
  <p>National Child Abuse Hotline: <a href="tel:18004224453">1-800-4-A-Child</a></p>
  <p>National Domestic Violence Hotline: <a href="tel:18007997233">1-800-799-SAFE</a></p>
  <p>National Domestic Violence Text: <a href="sms:22522">"LOVEIS" (22522)</a></p>
  <p>National Eating Disorders Association Helpline: <a href="tel:18009312237">1-800-931-2237</a></p>
  <p>Rape Abuse and Incest National Helpline: <a href="tel:18006564673">1-800-656-HOPE</a></p>
  <p>LGBT National Hotline: <a href="tel:18888434564">1-888-843-4564</a></p>
  <p>The Trevor Project (24/7 for LGBTQ young people): <a href="tel:18664887386">1-866-488-7386</a></p>
  <p>The Trans Lifeline: <a href="tel:18775658860">1-877-565-8860</a></p>
  <p>The Trevor Project Text "START" to: <a href="sms:678678">678678</a></p>
  <p>National Runaway Safeline: <a href="tel:18007862929">1-800-RUNAWAY</a></p>
  <p>Veterans Crisis Line: <a href="tel:18002738255">1-800-273-TALK</a></p>
  <p>Veterans Crisis Text: <a href="sms:838255">838255</a></p>
  <p>National Alliance on Mental Illness (NAMI) Helpline: <a href="tel:18009506264">1-800-950-NAMI</a></p>
</div>