body {
	font-size: 1em;
	background-color: #ffffff;
	font-size: calc(16px 1vw);
	margin: 10px 30px 50px 30px; 
  
}

.italics {
	font-style: italic;
}

.navbar {
	border-radius: 10px;
}

.navbar a {
	color: black;
}



.alert {
	width: auto; /* Let the content dictate the width */
	margin-left: 3.75em; /* 60px in em units */
}

.select-services {
  margin: 50px 0 0 50px; 
  color: white;
  width: auto; /* Allow content to dictate width */
  padding: 1.25em; /* 20px in em units */
  border: solid 0.1875em #C80909; /* 3px in em units */
  border-radius: 1.25em; /* 20px in em units */
  background: #C80909;
}

#seaching-indicator {
	color: black;
	display: flex;
}

.select-services {
	margin: 3.125em 0 0 3.125em; /* 50px 0 0 50px in em units */
	color: black;
	width: auto; /* Allow content to dictate width */
	padding: 1.50em; /* 20px in em units */
	border: solid 0.1875em black; /* 3px in em units */
	border-radius: 1.25em; /* 20px in em units */
	background: linear-gradient(to bottom, #E6A7A7 50%, #96A9F8 50%);
}

#location, #get-help-button {
	color: black;
}

#get-help-button {
	padding: 0.625em 1.25em; /* 10px 20px in em units */
	border-radius: 0.3125em; /* 5px in em units */
	margin-right: 1.875em; /* 30px in em units */
	margin-bottom: 1.5625em; /* 25px in em units */
	color: white;
	background-color: #48484C;
	box-shadow: 0.1875em 0.1875em 0.375em black; /* 3px 3px 6px in em units */
	float: right;
}

#get-help-button:hover {
	background-color: #726E6E;
	color: white;
	transition: opacity 0.3s;
}

.select-services p {
	margin-top: 1.25em; /* 20px in em units */
}

.select-services h4 {
	margin-bottom: 1.25em; /* 20px in em units */
}

#geolocation-button {
	display: inline-block;
	padding: 0.3125em; /* 5px in em units */
	width: auto;
	border-radius: 0.3125em;
	margin-left: 10px; 
	background-color: #48484C;
	color: white;
	box-shadow: 0.1875em 0.1875em 0.375em black;
}

#geolocation-button:hover {
	background-color: #48484C;
	color: black;
}

.results-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.result-item {
	width: calc(33.33% - 0.625em); /* 10px in em units */
	padding: 0.3125em; /* 5px in em units */
	margin: 0.3125em; /* 5px in em units */
	border: 0.0625em solid #ccc; /* 1px in em units */
}



.display-flex, #find-location-container {
	display: flex;
}

.motivational-sentence {
	text-align: center;
	width: fit-content;
	margin: auto auto 10px auto;
	font-size: 1.625em; /* 26px in em units */
	font-style: italic;
}

.search-bar {
	margin-bottom: 3.125em; /* 50px in em units */
	margin-left: 3.125em; /* 50px in em units */
}

.input-group {
	display: flex;
	margin: 0.625em;
}

.btn-primary {
	background-color: #486DAD;
	width: 6.25em; /* 100px in em units */
	box-shadow: 0.1875em 0.1875em 0.375em black;
}

#form-control {
	width: 13%; /* 33px in em units */
	padding: 0.3125em; /* 5px in em units */
}

.search-section-label {
	padding: 0.625em; /* 10px in em units */
}

.separator {
	border-top: 0.125em solid black; /* 2px in em units */
	margin-top: 1.25em; /* 20px in em units */
}

.national-helplines {
	margin: 0 0 0 1.875em; /* 0 0 0 30px in em units */
	width: auto; /* Allow content to dictate width */
	padding: 1.25em; /* 20px in em units */
}

.delete-button {
  background-color: #C80909;
  color: white;
}

.user-login, .create-new-user {
	width: fit-content;
	margin: 60px auto 0 auto;
	padding: 25px;
	// border: 1px solid #4B72B4;
	background-color: white;
	border-radius: 20px;
}

#g-oauth-button {
	margin-bottom: 10px;
	margin-left: 10px;
	width: fit-content;
	border: solid 1px #4B72B4;
}

#g-oauth-button img {
	margin-bottom:3px; 
	margin-right:5px;
	width: 20px;
}

#user-login-form, #create-user-form {
	margin-left: 10px;
}

#create-user-form {
	margin-top: 15px;
	margin-bottom: 15px;
}

#g-oauth-link button:hover {

	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
}

#new-user-create-button {
	background-color: #4B72B4;
	color: white;
}

#new-user-create-button:hover {
	background-color: #354E7E;
}


.homepage-top, .homepage-bottom {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 480px) {
	.result-item {
			width: 100%;
	}

	 .navbar {
		float: left;
		z-index: 5;
	}

	.user-login, .create-new-user {
		display: block; 
		margin-top: 0px;
		display:block;
		position: relative;
		top: 80px;
	}

	.homepage-top {
		display:block;
		position: relative;
		top: 40px;
	}

	.select-services, .national-helplines {
		margin-left: 0px;
	}

	#location {
		width: 60%;
	}

	#geolocation-button {
		display:inline-flex
	}

	#location {
		width: 100%;
	}

	.geolocation-button {
		text-align: center;
		margin-top: 10px;
		margin-left: -10px;
	}

	#find-location-container {
		display: block;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
	}

	#get-help-button {
		margin-top: 20px;
		float: left;
	}
}