// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #ededeb;
	margin-bottom: 50px;
}

#app-topper h1, #app-topper h3 {
	display: inline-block;
	margin-left: 30px;
}
#app-topper h3, .select-services h4 {
	font-style: italic;
}

.alert {
	width: fit-content;
	margin-left: 60px;
}

.select-services {
	margin: 50px 0 0 50px;
	color: white;
	width: fit-content;
	padding: 20px;
	border: solid 3px rgb(188, 4, 4);
	border-radius: 20px;
	background-color: rgb(213, 0, 0);
}

#location, #get-help-button {
	color: black;
}

#get-help-button {
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 30px;
	margin-bottom: 25px;
	color: white;
	background-color: rgb(27, 173, 46);
	box-shadow: 3px 3px 6px black;
	float:right;
}

#get-help-button:hover {
	background-color: rgb(164, 164, 167);
	color: black;
	transition: opacity 0.3s;
}

.select-services p {
	margin-top: 20px;
}

.select-services h4 {
	margin-bottom: 20px;
}

#geolocation-button {
	display: inline-block;
	padding: 5px;
	width: fit-content;
	border-radius: 5px;
	margin-left: 10px;
	background-color: rgb(110, 141, 195);
	box-shadow: 3px 3px 6px black;
}

#geolocation-button:hover {
	background-color: rgb(164, 164, 167);
	color: black;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-item {
  width: calc(33.33% - 20px); /* 20px is the combined margin and border width */
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .result-item {
    width: 100%; /* On narrow screens, make each item take up the full width */
  }
}

.display-flex {
	display: flex;
}

.motivational-sentence {
	font-size: 26px;
	font-style: italic;
	display: flex;
	margin: 10px 0 0 50px;
}
